.logincontainer {
  height: 600px;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #c8bad9;
  font-family: 'Pacifico', cursive;
}

.logininner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 700px;
  height: 400px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: white;
}

.logintitle {
  padding-top: 40px;
}

.formcon {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  border: solid 1px black;
  width: 350px;
  margin-top: 20px;
  border-radius: 2px;
}

/* .input:focus {
  border: 3px solid #555;
} */

.subinput {
  width: 125px;
  height: 32px;
  border-radius: 4px;
}

/* .subinput:hover {
  background-color: black;
  color: white;
} */

.submitcon {
  margin: 20px 0px;
}

.error {
  margin-top: 250px;
  position: absolute;
  width: 400px;
}