/* desktop design */

.quotedetailouterloading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c8bad9;
  height: 900px;
}

.quotedetailouter {
  background-color: #c8bad9;
  font-family: 'Playball', cursive;
}

.titleouter {
  background-color: #c8bad9;
}

.quotetitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding-top: 3vw;
  margin-left: 8vw;
  width: 84vw;
  border-bottom: 2px solid rgba(0,0,0,0.10);
  background-color: #c8bad9;
}
.quotedetailcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
  background-color: #c8bad9;
  /* margin-left: 2vw; */
}
.userinfocontainer {
  padding: 3%;
  width: 40%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  margin: 2%;
  background-color: rgb(241, 220, 220);
}
.dateinfo {
  padding: 3%;
  width: 40%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  margin: 2%;
  background-color: rgb(228, 220, 241);
}
.aboutproduct {
  padding: 3%;
  width: 40%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  margin: 2%;
  background-color: rgb(241, 240, 220);
}
.otherinfo {
  padding: 3%;
  width: 40%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  margin: 2%;
  background-color: rgb(220, 241, 238);
}


