.faqcontainer {
  height: 800px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c8bad9;
  font-family: 'Playball', cursive;
  font-size: 19px;
}

.faqinnerbox {
  border: solid black 1px;
  text-align: left;
  overflow: auto;
  height: 750px;
  width: 1300px;
  background-color: white;
  padding: 0px 20px;
}

.faqtitle {
  padding: 15px;
  text-align: center;
  /* background-color: blue; */
}

.faqcontent h5{
  margin: 20px 0px;
}