.faqcontainer {
  height: 800px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: bisque; */
}

.faqinnerbox {
  border: solid black 1px;
  text-align: left;
  height: 720px;
  width: 1300px;
  background-color: bisque;
  padding: 0px 20px;
}

.faqtitle {
  padding: 15px;
  text-align: center;
  /* background-color: blue; */
}

.faqcontent h5{
  margin: 20px 0px;
}