.quotecontainer {
  height: 1600px;
  width: 100vw;
  max-width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c8bad9;
  font-family: 'Playball', cursive;
  font-size: 19px;
}

.quoteinner {
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 1560px;
  background-color: white;
}

.quoteinner h2 {
  color: rgb(212, 0, 255);
}


.quotecontent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  width: 450px;
  text-align: center;
  /* background-color: aqua */
}

.checkbox {
  height: 190px;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.occasion {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.email {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.emailinput {
  width: 394px;
}

.completename {
  height: 100px;
  width: 425px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.first {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.firstinput {
  width: 180px;
}

.last {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.lastinput {
  width: 180px;
}

.message {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.messageinput {
  width: 394px;
  height: 90px;
}

.dateevent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.completepickup {
  height: 100px;
  width: 425px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.pickupevent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.dateinput {
  width: 176px;
  height: 32px;
}

.time {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.timeinput {
  width: 176px;
  height: 32px;
}

.phone {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.flavour {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.filling {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.guests {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.guestinput {
  width: 394px;
}

.quotesub {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quotecontainer label {
 margin-top: 10px;
}

.quotecontainer span {
  margin-right: 10px;
}

.errorquote {
  margin-top: 10px;
}