.quotecontainer {
  height: 800px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DCDCDC;
}

.quoteinner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 700px;
  height: 400px;
}

.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}