/* desktop design */

.dashtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-left: 8vw;
  width: 84vw;
  border-bottom: 2px solid rgba(0,0,0,0.10);
}

.dashboardcontainer{
  margin: 4% 8% 8% 8% ;
}

.tablerow {
  cursor: pointer;
}

.sortcont {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sortbutton {
  display: block;
}

/*  */
/* body {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 16px;  
}
body:before {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  opacity: .5;
  background: url(http://m.rgbimg.com/cache1wmVD5/users/x/xy/xymonau/600/oy5PsrQ.jpg);
}
h1 {
  margin-bottom: 50px;
}
.col-sm-8 {
  background: #fff;
  border: 1px solid #8b7ecd;
  border-radius: 3px;
}
small {
  color: #5bc0de;
}
span.active {
  color: #9C27B0;
}
small.active {
  color: #9C27B0;
  font-weight: 700;
}
h4 {
  font-size: 20px;
}
.btn .caret {
  margin-left: 5px;
}
.author {
  padding: 50px 0 0;
  color: #9C27B0;
}
.media-left img {
  border: 1px solid #9C27B0;
  border-radius: 3px;
}
.dropdown-menu a {
  position: relative;
}
.glyphicon-ok {
  position: absolute;
  top: 4px;
  right: 15px;
} */