/* desktop design */

.dashcont {
  background-color: #c8bad9;
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
  font-family: 'Playball', cursive;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.dashcont::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.dashtitle {
  padding-top: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-left: 8vw;
  width: 84vw;
  border-bottom: 2px solid rgba(0,0,0,0.10);
}

.dashboardcontainer{
  margin: 4% 8% 8% 8% ;
}

.sortcont {
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sortbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}
