.homecontainer {
  height: 1024px;
  width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
}

.gallerycontainer {
  /* background-color: yellow; */
  height: 1024px;
  width: 1000px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.galleryone {
  justify-self: center;
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: gray;
  height: 250px;
  width: 300px;
}

.gallerytwo {
  justify-self: center;
  grid-row: 1/2;
  grid-column: 2/3;
  background-color: gray;
  height: 250px;
  width: 300px;
}

.gallerythree {
  justify-self: center;
  grid-row: 1/2;
  grid-column: 3/4;
  background-color: gray;
  height: 250px;
  width: 300px;
}

.galleryfour {
  justify-self: center;
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: gray;
  height: 250px;
  width: 300px;
}

.galleryfive {
  justify-self: center;
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: gray;
  height: 250px;
  width: 300px;
}

.gallerysix {
  justify-self: center;
  grid-row: 2/3;
  grid-column: 3/4;
  background-color: gray;
  height: 250px;
  width: 300px;
}

.galleryseven {
  justify-self: center;
  grid-row: 3/4;
  grid-column: 1/2;
  background-color: gray;
  height: 250px;
  width: 300px;
}

.galleryeight {
  justify-self: center;
  grid-row: 3/4;
  grid-column: 2/3;
  background-color: gray;
  height: 250px;
  width: 300px;
}

.gallerynine {
  justify-self: center;
  grid-row: 3/4;
  grid-column: 3/4;
  background-color: gray;
  height: 250px;
  width: 300px;
}