.homecontainer {
  height: 800px;
  width: 100vw;
  max-width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c8bad9;
}

.gallerycontainer {
  height: 750px;
  width: 750px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  /* gap: 5px 5px; */
}

.galleryone {
  justify-self: center;
  /* grid-row: 1/2;
  grid-column: 1/2; */
  background-image: url('./images/customcakes.jpg');
  background-size: cover;
  height: 250px;
  width: 300px;
}

.gallerytwo {
  justify-self: center;
  /* grid-row: 1/2;
  grid-column: 2/3; */
  background-image: url('./images/standardcakes.jpg');
  background-size: cover;
  height: 250px;
  width: 300px;
}

.gallerythree {
  justify-self: center;
  /* grid-row: 1/2;
  grid-column: 3/4; */
  background-image: url('./images/weddingcakes4.jpg');
  background-size: cover;
  height: 250px;
  width: 300px;
}

.galleryfour {
  justify-self: center;
  /* grid-row: 2/3;
  grid-column: 1/2; */
  background-image: url('./images/ubecakes3.jpg');
  background-size: cover;
  height: 250px;
  width: 300px;
}

.galleryfive {
  justify-self: center;
  /* grid-row: 2/3;
  grid-column: 2/3; */
  background-image: url('./images/cupcakes4.jpg');
  background-size: cover;
  height: 250px;
  width: 300px;
}

.gallerysix {
  justify-self: center;
  /* grid-row: 2/3;
  grid-column: 3/4; */
  background-image: url('./images/macarons.jpg');
  background-size: cover;
  height: 250px;
  width: 300px;
}

.galleryseven {
  justify-self: center;
  /* grid-row: 3/4;
  grid-column: 1/2; */
  background-image: url('./images/filipinocuisine1.jpg');
  background-size: cover;
  height: 250px;
  width: 300px;
}

.galleryeight {
  justify-self: center;
  /* grid-row: 3/4;
  grid-column: 2/3; */
  background-image: url('./images/pandesal1.jpg');
  background-size: cover;
  height: 250px;
  width: 300px;
}

.gallerynine {
  justify-self: center;
  /* grid-row: 3/4;
  grid-column: 3/4; */
  background-image: url('./images/halohalo.jpg');
  background-size: cover;
  height: 250px;
  width: 300px;
}