.aboutcontainer {
  height: 600px;
  width: 100vw;
  max-width: 100%;
  background-color: #c8bad9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photocontainer {
  /* background-color: black; */
  width: 600px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cherryphotograph {
  border: solid black 3px;
  width: 500px;
  height: 400px;
}

.aboutcontent {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* flex-direction: column; */
  /* background-color: grey; */
  height: 400px;
  width: 500px;
  font-family: 'Playball', cursive;
  font-size: 19px;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.aboutcontent::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.abouttitle h1 {
  font-size: 40px;
}

.aboutpara {
  display: flex;
  justify-content: center;
  align-items: center;
}