.nomatchcontainer {
  display: flex;
  text-align: center;
  justify-content: center;
}
h2 {
  text-align: center;
}
.nomatchimage {
  display: inherit;
  justify-content: center;
  height: 600px;
  width: 500px;
}
