.logocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}  

.logoimage {
  width: 460px;
  height: 270px;
}

.navbar { 
  width: 100%;
}

.navbox {
  text-align: center;
}

.navitem {
  display: inline-block; /* Arrange list items in horizontal line */
  list-style-type: none; /* We don't want bullets on our items */
  margin: 0;
  padding: 10px 0; /* Sets height of nav bar */
}

.navitem:hover {
  background: white;
}

.navlink {
  color: black;
  text-decoration: none;
  padding: 12px;
  font-size: 20px;
}

.navlink:hover {
  color: grey;
  text-decoration: none;
}