.open-dropdown-content .dropdownmenu{
  display: block;
}
.close-dropdown-content .dropdownmenu{
  display: none;
}

/*
.col-sm-8 {
  background: #fff;
  border: 1px solid #8b7ecd;
  border-radius: 3px;
}
small {
  color: #5bc0de;
}
span.active {
  color: #9C27B0;
}
small.active {
  color: #9C27B0;
  font-weight: 700;
}
h4 {
  font-size: 20px;
}
.btn .caret {
  margin-left: 5px;
}
.author {
  padding: 50px 0 0;
  color: #9C27B0;
}
.media-left img {
  border: 1px solid #9C27B0;
  border-radius: 3px;
}
.dropdownmenu a {
  position: relative;
}
.glyphiconok {
  position: absolute;
  top: 4px;
  right: 15px;
} */