.contacttitle {
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(0,0,0,0.10);
}

.contactcontainer {
  text-align: center;
  height: 800px;
  width: 100vw;
  max-width: 100%;
  background-color: #c8bad9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Playball', cursive;
}

.contactcontainer h2 {
  font-size: 40px;
}

.contactinner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  /* background-color: yellow; */
  padding: 0px 20px;
  height: 600px;
  width: 1100px;
}

.googleMapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1/2;
  grid-column: 1/2;
  /* background-color: rgb(156, 156, 156); */
}

.googlemap {
  height: 500px;
  width: 500px;
}

.cherrydetails {
  grid-row: 1/2;
  grid-column: 2/3;
  padding-block-start: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  /* background-color: grey; */
}

