.googleMapContainer {
  display: flex;
  height: 450px;
  padding-block-end: 10px;
  padding-inline-start: 10px;
  padding-block-start: 10px;
  background-color: grey;
}

.googleMapInfo {
  display: flex;
  justify-content: space-between;
}
