.googleMapContainer {
  display: flex;
  height: 450px;
  background-color: rgb(156, 156, 156);
}

.googleMapInfo {
  display: flex;
  width: 1000px;
  justify-content: start;
}

.cherryDetails {
  padding-block-start: 10px;
  display: flex;
  justify-content: space-around;
}

p {
  margin-left: 20px;
}
