.footercontainer {
  display: flex;
  height: 300px;
  width: 100vw;
  max-width: 100%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: 'Playball', cursive;
  background-color: #c8bad9;
}

.footertext {
  color: white;
  text-align: center;
}

.footercontainer h1 {
font-size: 50px;
}

.footercontainer h4 {
  font-size: 30px;
  }