.footercontainer {
  display: flex;
  height: 300px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: 'Playball', cursive;
  background-color: #c8bad9;
}

.footertext {
  color: white;
  text-align: center;
}